SUBJECT: ANNOUNCE: yagg 1.20 released

yagg - generate a C++ string generator from a grammar

Description:
  Given YACC-like and LEX-like input files, yagg is a Perl program that
  generates a C++ program that generates all strings of a user-specified
  length.  The YACC-like language grammar file provides the grammar
  productions for string generation, along with optional action blocks that
  can per- form context-sensitive checks in order to limit the generated
  strings.  The LEX-like terminal generator file provides specifications that
  instruct the program how to generate strings for terminals in the gram- mar.

  If the programmer already has a YACC or Bison parser file, he or she
  only needs to add "unaction" blocks to allow the recursive generator to
  undo the side effects of the action blocks. If the programmer already
  has a LEX or FLEX lexer input file, he or she only needs to remove
  extraneous code and replace any regular expressions with one of the
  terminal generator specifications.

This program is useful if you want to see examples of strings recognized
by a YACC grammar. It can also be used to generate inputs for any program
that uses textual input.

Changes:
- Initial public release

Download:
- You can download yagg from CPAN:
  http://www.cpan.org/authors/id/D/DC/DCOPPIT/yagg-1.20.tar.gz
- Until the file propagates to the mirrors, you can use the following URL:
  http://prdownloads.sourceforge.net/yagg/yagg-1.20.tar.gz

A complete change log is at:
- http://yagg.sourceforge.net/CHANGES

Regards,
David
